[class*='_icon-']:before {
    display: block;
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class*='_icon-'] {
    position: relative;
}
[class*='_icon-']:after {
    display: block;
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//

._icon-ruls:before {
    content: '\e90b';
}
._icon-eye1:before {
    content: '\e90a';
}
._icon-file:before {
    content: '\e907';
}
._icon-night:before {
    content: '\e908';
}
._icon-close:before {
    content: '\ea0f';
}
._icon-plus:before {
    content: '\ea0a';
}
._icon-video:before {
    content: '\e914';
}
._icon-card:before {
    content: '\e93f';
}
._icon-rocket:before {
    content: '\e9a5';
}
._icon-eye:before {
    content: '\e909';
}
._icon-plus-circle:before {
    content: '\e900';
}
._icon-photo:before {
    content: '\e901';
}
._icon-mail:before {
    content: '\e902';
}
._icon-sun:after {
    content: '\e903';
}
._icon-mixer:before {
    content: '\e904';
}
._icon-dj:before {
    content: '\e905';
}
._icon-dj-lover:before {
    content: '\e906';
}
