.breadcrumbs-catalog {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid var(--inverse);
    border-bottom: 1px solid var(--inverse);

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;
        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                margin-right: 18px;
                &::after {
                    content: "";
                    display: block;
                    background: url("../img/icon/arrow-right.svg") right
                        no-repeat;
                    width: 4px;
                    height: 4px;
                }
            }
            & a {
                line-height: 1.4;
                text-decoration: underline;
                font-family: stolzl_regular;
                padding-right: 18px;
            }
        }
        &._active {
            text-decoration: none;
            color: var(--accent);
        }
    }
}
