// Заголовки, загальні БЕМ блоки та інше...
#follower {
    position: fixed;
    pointer-events: none;
    width: 24px;
    height: 24px;
    background-image: url('../img/cursor.svg');
    background-size: cover;
    z-index: 9999;
}

#eye {
    position: fixed;
    pointer-events: none;
    min-width: 47px;
    height: 47px;
    background-image: url('../img/eye-icon.svg');
    background-size: cover;
    z-index: 9999;
    display: none;
}

.plus::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.minus::before {
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translate(-50%, 0%);
    font-size: x-small;
}

.color {
    color: var(--inverse);
}

.img-1::before {
    color: var(--inverse);
    position: relative;
    transform: translateY(-150%);
    margin: 0 10px;
}

// Форматирование параграфа
.body-text {
    @include adaptiveValue('font-size', 30, 15, 0);
    p {
    }

    span {
        color: var(--accent);
    }
}
// TODO adaptive

//
.section-title {
    font-size: 48px;
    line-height: 1.1041666667;
    font-weight: 300;
    text-transform: uppercase;
    & span {
        color: var(--accent);
    }
}

.page-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    &__decor {
        height: auto;
        @media (min-width: 1920px) {
            width: 70rem;
        }
        @include adaptiveValue('width', 1500, 800, 340, 1980);
        @media (max-width: 600px) {
            width: 41rem;
        }
    }
}
.elem {
    animation-name: decor;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// keyframes

@keyframes decor {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
//  SOUNDCLOUD
.privacyPolicy {
    display: none !important;
}

.mobilePrestitial {
    display: none !important;
}
