.item-catalog {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    border: 1px solid var(--inverse);
    &__title {
        text-transform: uppercase;
        line-height: 1.5625;
        color: var(--secondary);
        font-weight: 300;
    }

    &__img {
        position: relative;
        width: 100%;
        padding-bottom: 132%;
        transition: all 0.3s ease 0s;
        position: relative;
        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(159, 26, 57, 0.6);
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
    }

    &__quantity {
        line-height: 1.5625;
        color: var(--accent);
        font-weight: 300;
    }

    &__more {
        min-height: 50px;
    }
}
